<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>Recommender Engine - RBCCM Global Research Summer 2017</title>
 
 
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
 
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
 
 
</head>
 
<body>
 
    <div class="container">
        <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation" class="active"><a href="#">Home</a>
                    </li>
                    <li role="presentation"><a href="#">Sign In</a>
                    </li>
                    <li role="presentation"><a href="showSignUp">Sign Up</a>
                    </li>
                </ul>
            </nav>
            <h3 class="text-muted">Python Recommender Engine</h3>
        </div>
 

        <form action="/get_recommender" method="POST">
        <input type = "submit" value="find_recommendation">

        <select name="option" width="500px">
            {% for o in option_list %}
        <option name="{{ o }}" SELECTED>{{ o }}  </option>
            {% endfor %}
        </select>
        {{tables | safe}}
        </form>
        
       
        <footer class="footer">
            <p>Andy Yao Aug 7th 2017</p>
        </footer>
 
    </div>
</body>
 
</html>