<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>Recommender Engine - RBCCM Global Research Summer 2017</title>
 
 
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
 
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js" type="text/javascript"> </script>
    <script type=text/javascript>
        $(function(){
            alert("Hello, in JS");
            $("#dropdown").change(function(){
                var selectedID = $("#dropdown option:selected").text();
		//alert("Change Happened");                
                $.ajax({
                    type: "POST",
                    url: '/get_recommender',
                    data: selectedID,
                    contentType: 'application/json;charset=UTF-8',
                    success: function(recommended){
                       // alert("Success: " + recommended);
                        $("#result").html(recommended);
                        //$("#actuallyBought").html(purchased);
                    }
		   error: function(recommended, error){
			console.log(error);   
			}
                });

                $.ajax({
                    type: "POST",
                    url: '/get_purchased',
                    data: selectedID,
                    contentType: 'application/json;charset=UTF-8',
                    success: function(purchased){
                       // alert("Success:" + purchased);
			$("#actuallyBought").html(purchased);
                    }
                });
                
            });
        });
    </script>
 
</head>
 
<body>
 
    <div class="container">
        <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation" class="active"><a href="/">Home</a>
                    </li>
                </ul>
            </nav>
            <h3 class="text-muted">Python Recommender Engine</h3>
        </div>

        <select id = "dropdown" name="option" width="500px">
            {% for o in option_list %}
        <option name="{{ o }}" SELECTED>{{ o }}  </option>
            {% endfor %}
        </select>
        {{tables | safe}}
        </form>
        <h4>Customer Selected</h4>
        <span id=actuallyBought></span>
        <h4>Recommends</h4>
        <span id=result></span>
        
        <footer class="footer">
            <p>Andy Yao Aug 31st 2017</p>
        </footer>
 
    </div>
</body>
 
</html>
